<div class="col-md-12">
    <h3>Add Security to portfolio : </h3>
  </div>
  <div class="col-md-6">
    <form [formGroup]="newSecurityForm" autocomplete="off"
            (ngSubmit)="saveSecurity(newSecurityForm.value)">
      <div class="form-group">
        <label for="securitySymbol">Symbol:</label>
        <em *ngIf="securitySymbol.invalid && securitySymbol.dirty && securitySymbol.errors.required">Required</em>
        <em *ngIf="securitySymbol.errors?.maxlength">Max Length 5</em>
        <input id="securitySymbol" formControlName="securitySymbol" type="text" class="form-control" placeholder="Symbol..." />
      </div>
      <div class="form-group">
        <label for="sector">Sector:</label>
        <em *ngIf="sector.invalid && sector.dirty && sector.errors.required">Required</em>
        <input id="sector" formControlName="sector" type="text" class="form-control" placeholder="Sector..." />
      </div>
      <div class="form-group">
        <label for="purchaseDate">PurchaseDate:</label>
        <input id="purchaseDate" formControlName="datePurchased" type="date" class="form-control" placeholder="mm/dd/yyyy" />
      </div>
      <div class="form-group">
        <label for="units">Units:</label>
        <input id="units" type="number" formControlName="units" class="form-control" placeholder="Number of Units..." />
      </div>
      <div class="form-group">
        <label for="costPerUnit">Cost per share:</label>
        <input id="costPerUnit" type="number" formControlName="costPerUnit" class="form-control" placeholder="Cost per share..." />
      </div> 
      
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default">Cancel</button>
    </form>
  </div>